:root {
  /*colors*/
  --white-color: #ffffff;
  --black-color: #130600;
  --red-color: #f90002;
  --blue-color: #045fd2;
  --gray-light-color: #d4d2d4;
  --gray-dark-color: #918f91;

  /*size*/
  --padding: 12px;

  /*Font size*/
  --font-micro: 10px;
  --font-small: 12px;
  --font-medium: 14px;
  --font-large: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--gray-dark-color);
  background-color: var(--white-color);
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: var(--padding);
}
.head_title i {
  color: var(--red-color);
  font-size: var(--font-large);
}

.head_title a {
  color: var(--white-color);
  font-size: var(--font-large);
}

.head_icons a {
  color: var(--white-color);
  padding-left: var(--padding);
}

/*video player*/
video {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}

.player {
  text-align: center;
  background-color: var(--black-color);
  position: sticky;
  top: 0;
}

/*video metadata*/
.videoinfo .hashtags {
  display: flex;
  margin: var(--padding);
  margin-bottom: 0;
}

.videoinfo .hashtags li a {
  padding-right: calc(var(--padding) / 2);
  color: var(--blue-color);
}

.videotitleAndBtn {
  margin: var(--padding) var(--padding) 0 var(--padding);
  font-size: var(--font-large);
  display: flex;
  justify-content: space-between;
}

.videotitleAndBtn span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.moreBtn {
  height: 100%;
  margin-left: var(--padding);
}

.viewsdata {
  margin-left: var(--padding);
}

.viewsdata span {
  color: var(--gray-dark-color);
  font-size: var(--font-small);
}

/*actions*/
.actionBtn {
  margin: var(--padding);
  display: flex;
  justify-content: space-around;
}

.actionBtn i {
  font-size: var(--font-large);
  padding-top: var(--padding);
}

.actionBtn li {
  display: flex;
  flex-direction: column;
}

.actionBtn span {
  font-size: var(--font-small);
  padding-top: var(--padding);
  color: var(--gray-dark-color);
}

/*Channel description*/

.channel_metadata {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  margin: 0 var(--padding);
  border-top: 1px solid var(--gray-light-color);
  border-bottom: 1px solid var(--gray-light-color);
}
.channel_metadata .avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.channel_info {
  display: flex;
  align-items: center;
}

.channel_name {
  display: flex;
  flex-direction: column;
  margin-left: calc(var(--padding) / 2);
}
.channel_name_views {
  color: var(--gray-dark-color);
  font-size: var(--font-small);
}

.subscribe_Btn {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--red-color);
}

/*Upnext*/
.Upnext_title {
  color: var(--gray-dark-color);
  padding: var(--padding);
}

.Upnext {
  margin-top: var(--padding);
}

.nextvideo_container {
  display: flex;
  align-items: flex-start;
  margin: var(--padding);
}

.nextvideo_container img {
  width: 100%;
  flex: 1 1 35%;
}

.nextvideo_title {
  flex: 1 1 60%;
  font-size: var(--font-medium);
}

.upnext_moreBtn {
  flex: 1 1 5%;
  padding-top: 5px;
}

.nextvideo_description {
  margin: 0 var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.upnext_channel_name,
.upnext_channel_view {
  color: var(--gray-dark-color);
  font-size: var(--font-small);
}

.upnext_channel_name {
  margin-top: var(--padding);
}

.videoinfoAndUpnext {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .videoinfoAndUpnext {
    flex-direction: row;
  }
}
